.header {
    height: 40px;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-icon {
    background: url("../../assets/img/icon.svg") no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}